<div class="panel panel-default">
    <div class="panel-heading">
        {{tableName}} <i>({{rowCount}})</i>
    </div>

    <div class="panel-body table-responsive">
        <table class="table table-striped table-hover">
            {{#if headings}}
            <thead>
                <tr>
                    <th>#</th>
                    {{#each heading in headings}}
                      <th nowrap {{action "sortBy" heading}}>
                          <span {{bind-attr class=":glyphicon glyphiconDirection"}} aria-hidden="true" />
                          {{heading}}
                      </th>
                    {{/each}}
                </tr>
            </thead>
            {{/if}}

            <tbody>
                {{render 'row' model.rows}}
            </tbody>
        </table>
    </div>
</div>